.llama-container2 {
  display: flex;
  gap: 10px;
padding-right: 5px;
padding-top: 5px;
}

.llama-graphic {
  margin: 5px 0 0 15px;
}

.llama-blink-eye {
  animation: blink 4s infinite;
  transform-origin: center;
}

@keyframes blink {

  0%,
  90%,
  100% {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0.1);
  }
}

.llama-dart-eye {
  animation: dart 0.4s ease-in-out;
}

@keyframes dart {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}


.llama-bob {
  animation-name: bob;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes llamaFade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.llama-debug {
  margin: 0 auto;
  width: 90%;
  padding: 5px;
  margin-top: 60px;
  border-radius: 12px;
  background-color: aqua;
  color: black;
}