body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #66b3ff;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
  position: relative;
  margin-top: 10px;
}

.tool-buttons {
  display: flex;
  justify-content: center;
  border-radius: 12px 12px 0 0;
  width: 100%;
  transition-duration: 0.4s;
  border-bottom: 1px solid var(--text-color);
  margin: -2px 0;
}

.tool-buttons button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: none;
  padding: 8px;
  background-color: #fff;
  color: crimson;
  border-radius: 12px 12px 0 0;
  font-weight: bold;
  margin: -1px 2px;
  border: 1px solid #000;
  font-size: 22px;

}

.tool-buttons button:hover {
  background-color: crimson;
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.pane-1,
.pane-2 {
  flex: 1;
  padding: 10px;

}

.pane-2 {
  background-color: crimson;
}

@media (max-width: 1100px) {
  .main-content {
    flex-direction: column;
    padding-bottom: 200px;
  }

  .pane-1 {
    margin-bottom: 200px;
  }

  .pane-2 {
    position: fixed;
    bottom: 42px;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    background-color: crimson;
    border-top: 1px solid #444;
    z-index: 1000;
    padding: 0;
  }

  .tool-buttons button {
    font-size: 18px;
  }
}

.nav-button {
  background: white;
  color: crimson;
  border: none;
  padding: 10px;
}

.nav-button:hover {
  background: crimson;
  color: white;
}

.nav-button.selected {
  background: crimson;
  color: white;
}

.tool-button.selected {
  background-color: crimson;
  color: white;
  font-weight: bold;
}

.pane-2 {
  overflow-y: auto;
  max-height: 100vh;
}

.title-row {
  background-color: crimson;
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0px;

}

#menuBtn {
  font-size: 20px;
  border: none;
  position: fixed;
  bottom: 13px;
  left: 21px;
  background-color: crimson;
}

#darkModeBtn {
  font-size: 20px;
  border: none;
  position: fixed;
  bottom: 13px;
  right: 21px;
  background-color: crimson;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  letter-spacing: 5px;
  color: lightgoldenrodyellow;
  text-align: center;
  font-weight: bold;
}

.version {
  font-size: 16px;
  color: black;
  letter-spacing: 0px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: crimson;
}